<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MapFileLocation" value="maps"/>
    
    <add key="WindowWidth" value="1280" />
    <add key="WindowHeight" value="720" />
    
    <add key="UIDefinitionPath" value="src/ui/definitions"/>
    <add key="MenuUIFileName" value="menu.xml" />
    <add key="PlayUIFileName" value="play.xml" />
    <add key="OptionsUIFileName" value="options.xml" />
    <add key="EditorUIFileName" value="editor.xml" />

    <add key="DefaultBoardWidth" value="10"/>
    <add key="DefaultBoardHeight" value="6"/>
    
  </appSettings>
</configuration>