<?xml version="1.0" encoding="utf-8" ?>
<ComponentList>
  <Components>
    <Container>
      <Width>500</Width>
      <Height>500</Height>
      <PositionProfile>
        <HorizontalAlign>Left</HorizontalAlign>
        <VerticalAlign>Top</VerticalAlign>
        <OffsetX>50</OffsetX>
        <OffsetY>50</OffsetY>
      </PositionProfile>
      <BackgroundColour>
        <R>0</R>
        <G>0</G>
        <B>255</B>
        <A>255</A>
      </BackgroundColour>
      <HoverBackgroundColour>
        <R>255</R>
        <G>0</G>
        <B>0</B>
        <A>255</A>
      </HoverBackgroundColour>
    </Container>
  </Components>
</ComponentList>
