<?xml version="1.0" encoding="utf-8" ?>
<ComponentList>
  <Components>
    <Container>
      <Width>500</Width>
      <Height>300</Height>
      <PositionProfile>
        <HorizontalAlign>Middle</HorizontalAlign>
        <VerticalAlign>Middle</VerticalAlign>
        <OffsetX>50</OffsetX>
        <OffsetY>0</OffsetY>
      </PositionProfile>
      <BackgroundColour>
        <R>0</R>
        <G>0</G>
        <B>255</B>
        <A>255</A>
      </BackgroundColour>
      <HoverBackgroundColour>
        <R>50</R>
        <G>50</G>
        <B>255</B>
        <A>255</A>
      </HoverBackgroundColour>
      <Components>
        
        <Button>
          <Text>Yes</Text>
          <Width>125</Width>
          <Height>50</Height>
          <PositionProfile>
            <HorizontalAlign>Left</HorizontalAlign>
            <VerticalAlign>Middle</VerticalAlign>
            <OffsetX>75</OffsetX>
            <OffsetY>75</OffsetY>
          </PositionProfile>
          <TextColour>
            <R>0</R>
            <G>0</G>
            <B>0</B>
            <A>255</A>
          </TextColour>
          <HoverTextColour>
            <R>255</R>
            <G>255</G>
            <B>255</B>
            <A>255</A>
          </HoverTextColour>
          <BackgroundColour>
            <R>255</R>
            <G>0</G>
            <B>255</B>
            <A>255</A>
          </BackgroundColour>
          <HoverBackgroundColour>
            <R>255</R>
            <G>50</G>
            <B>255</B>
            <A>255</A>
          </HoverBackgroundColour>
        </Button>
        
        <Button>
          <Text>No</Text>
          <Width>125</Width>
          <Height>50</Height>
          <PositionProfile>
            <HorizontalAlign>Right</HorizontalAlign>
            <VerticalAlign>Middle</VerticalAlign>
            <OffsetX>-75</OffsetX>
            <OffsetY>75</OffsetY>
          </PositionProfile>
          <TextColour>
            <R>0</R>
            <G>0</G>
            <B>0</B>
            <A>255</A>
          </TextColour>
          <HoverTextColour>
            <R>255</R>
            <G>255</G>
            <B>255</B>
            <A>255</A>
          </HoverTextColour>
          <BackgroundColour>
            <R>255</R>
            <G>0</G>
            <B>255</B>
            <A>255</A>
          </BackgroundColour>
          <HoverBackgroundColour>
            <R>255</R>
            <G>50</G>
            <B>255</B>
            <A>255</A>
          </HoverBackgroundColour>
        </Button>
      </Components>
    </Container>
  </Components>
</ComponentList>
